# DNS service

# Pi-hole backup directory
PIHOLE_BACKUP_PATH="$DEPLOYMENTS_BACKUPS_PATH/pihole"

# Optional Pi-hole docker settings
TZ='Europe/Madrid'
WEBPASSWORD='change-me'
FTLCONF_webserver_api_password='change-me'
