# VPN service
## WGDashboard
WGDASHBOARD_BACKUP_PATH="$DEPLOYMENTS_BACKUPS_PATH/wgdashboard"
WGDASHBOARD_WEB_INTERFACE_PORT=10086
WGDASHBOARD_VPN_PORT=51820
WGDASHBOARD_MAIN_VOLUME_PATH="$DEPLOYMENTS_DOCKER_VOLUMES/wgdashboard"
WGDASHBOARD_ACONF_VOLUME_PATH="$WGDASHBOARD_MAIN_VOLUME_PATH/aconf"
WGDASHBOARD_CONF_VOLUME_PATH="$WGDASHBOARD_MAIN_VOLUME_PATH/conf"
WGDASHBOARD_DATA_VOLUME_PATH="$WGDASHBOARD_MAIN_VOLUME_PATH/data"
