# General 
PROJECT='project'
CRON_FILEPATHPATH='/etc/crontab'
DEPLOYMENTS_BASE_PATH="/home/$USER/devops/deployments"
DEPLOYMENTS_DOCKER_VOLUMES="$DEPLOYMENTS_BASE_PATH/volumes"
DEPLOYMENTS_BACKUPS_PATH="$DEPLOYMENTS_BASE_PATH/backups"

# DNS Service
## Pihole
PIHOLE_BACKUP_PATH="$DEPLOYMENTS_BACKUPS_PATH/pihole"
# DuckDNS Configuration
# Get your token from: https://www.duckdns.org/
duckdns_domain='your-domain'
duckdns_token='your-token'

# VPN 
## WGDashboard
WGDASHBOARD_BACKUP_PATH="$DEPLOYMENTS_BACKUPS_PATH/nginx"
WGDASHBOARD_WEB_INTERFACE_PORT=10086
WGDASHBOARD_VPN_PORT=51820
WGDASHBOARD_MAIN_VOLUME_PATH="$DEPLOYMENTS_DOCKER_VOLUMES/wgdashboard"
WGDASHBOARD_ACONF_VOLUME_PATH="$WGDASHBOARD_MAIN_VOLUME_PATH/aconf"
WGDASHBOARD_CONF_VOLUME_PATH="$WGDASHBOARD_MAIN_VOLUME_PATH/conf"
WGDASHBOARD_DATA_VOLUME_PATH="$WGDASHBOARD_MAIN_VOLUME_PATH/data"

# Ingress
## nginx-proxy-manager
NGINX_PROXY_BACKUP_PATH="$DEPLOYMENTS_BACKUPS_PATH/nginx"
NGINX_PROXY_WEB_INTERFACE_PORT=10081
NGINX_PROXY_BASE_VOLUMES_PATH="$DEPLOYMENTS_DOCKER_VOLUMES/nginx_proxy"
NGINX_PROXY_DATA_PATH="$NGINX_PROXY_BASE_VOLUMES_PATH/data"
NGINX_PROXY_LETSENCRYPT_PATH="$NGINX_PROXY_BASE_VOLUMES_PATH/letsencrypt"

# Personal Finance Manager
## fireflyiii
FIREFLYIII_BACKUP_PATH="$DEPLOYMENTS_BACKUPS_PATH/fireflyiii"
FIREFLYIII_WEB_INTERFACE_PORT=10082
FIREFLYIII_BASE_VOLUMES_PATH="$DEPLOYMENTS_DOCKER_VOLUMES/fireflyiii"
FIREFLYIII_UPLOAD_PATH="$FIREFLYIII_BASE_VOLUMES_PATH/upload"
FIREFLYIII_DB_PATH="$FIREFLYIII_BASE_VOLUMES_PATH/db"
### STATIC_CRON_TOKEN must be *exactly* 32 character long
STATIC_CRON_TOKEN='userexactly32characterslongtoken'
