# General 
PROJECT='project'
DEPLOYMENTS_BASE_PATH="/home/$USER/devops/deployments"
DEPLOYMENTS_DOCKER_VOLUMES="$DEPLOYMENTS_BASE_PATH/volumes"

# DNS Service
## Pihole
PIHOLE_BACKUP_PATH="/home/$USER/devops/deployments/backups/pihole"
# DuckDNS Configuration
# Get your token from: https://www.duckdns.org/
duckdns_domain='your-domain'
duckdns_token='your-token'

# VPN 
## WGDashboard
### Docker
WGDASHBOARD_DOCKER_WEB_INTERFACE_PORT=10086
WGDASHBOARD_DOCKER_VPN_PORT=51820
WGDASHBOARD_DOCKER_MAIN_VOLUME_PATH="$DEPLOYMENTS_DOCKER_VOLUMES/wgdashboard"
WGDASHBOARD_DOCKER_ACONF_VOLUME_PATH="$WGDASHBOARD_DOCKER_MAIN_VOLUME_PATH/aconf"
WGDASHBOARD_DOCKER_CONF_VOLUME_PATH="$WGDASHBOARD_DOCKER_MAIN_VOLUME_PATH/conf"
WGDASHBOARD_DOCKER_DATA_VOLUME_PATH="$WGDASHBOARD_DOCKER_MAIN_VOLUME_PATH/data"

# Ingress
## nginx-proxy-manager
NGINX_PROXY_MAIN_VOLUME_PATH="$DEPLOYMENTS_DOCKER_VOLUMES/nginx_proxy"
NGINX_PROXY_DATA_VOLUME_PATH="$NGINX_PROXY_MAIN_VOLUME_PATH/data"
NGINX_PROXY_LETSENCRYPT_VOLUME_PATH="$NGINX_PROXY_MAIN_VOLUME_PATH/letsencrypt"
