# General
PROJECT='project'
CRON_FILEPATH='/etc/crontab'
DEPLOYMENTS_BASE_PATH="/home/$USER/devops/deployments"
DEPLOYMENTS_DOCKER_VOLUMES="$DEPLOYMENTS_BASE_PATH/volumes"
DEPLOYMENTS_BACKUPS_PATH="$DEPLOYMENTS_BASE_PATH/backups"
