# Ingress service
## nginx-proxy-manager
NGINX_PROXY_BACKUP_PATH="$DEPLOYMENTS_BACKUPS_PATH/nginx"
NGINX_PROXY_WEB_INTERFACE_PORT=10081
NGINX_PROXY_BASE_VOLUMES_PATH="$DEPLOYMENTS_DOCKER_VOLUMES/nginx_proxy"
NGINX_PROXY_DATA_PATH="$NGINX_PROXY_BASE_VOLUMES_PATH/data"
NGINX_PROXY_LETSENCRYPT_PATH="$NGINX_PROXY_BASE_VOLUMES_PATH/letsencrypt"
